.full_height {
	height: 100vh;
}

.hundred_height {
	height: 100%;
}

.bg_blue,
.bg_blue2 {
	padding-top: 4rem;
}

.bg_blue {
	background-color: rgb(97, 117, 117);
}

.bg_blue2 {
	background-color: azure;
}
